p{
   margin-bottom: 10px;
}
.thank-you-container {
   border: 1px solid black;
   padding: 10px;
   margin: 5% auto 15% auto;
   border-radius: 10px;
}
@media (min-width: 768px) {
   .thank-you-container {
      width: 50%;
   }
}
.info {
   display: flex;
   flex-direction: column;
}
