@media (min-width: 768px) {
   #menu-button {
      display: none;
   }
   #menu {
      display: flex;
      justify-content: space-between;
      background-color: var(--accent-color);
      overflow: visible;
      max-width: 300px;
      max-height: 300px;
      position: relative;
   }
   .menu-items {
      display: inline;
      color: #1a1a1a;
      text-align: center;
      
   }
   .menu-items:nth-child(even) {
      background-color: transparent;
      
   }
   header form {
      margin-top: 15px;
   }
   #logo {
      position: absolute;
      top: 15px;
      left: 10px;
   }

   .cart {
      width: 400px;
   }
   .cart-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 15px 0px;
      gap: 10px;
   }

   #highlights {
      justify-self: center
   }

   footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
}